.Rproj.user
.Rhistory
.RData
.Ruserdata
datasciencecoursera.Rproj
# csv files
*.csv
rprog%2Fdata%2FProgAssignment3-data.zip
rprog%2Fdata%2FProgAssignment3-data
balt.xml
natgas.xlsx
natgas2.xlsx
q5.for
instruct.jpg
instruct2.jpg
